[user]
	name = Calvin Lai
	email = callai@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	editor = /usr/bin/vim
	trustctime = false
[credential]
	helper = osxkeychain
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
