"*":
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.js.jsx": [
        "js"
      ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "framer-ui"
      "monokai-shade"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 17
    invisibles: {}
    showIndentGuide: true
  "ex-mode":
    splitright: true
  "exception-reporting":
    userId: "b4658df1-bb5e-470c-84ed-f2ff81f58a74"
  "language-babel":
    suppressTranspileOnSaveMessages: true
  "linter-eslint":
    advanced:
      disableEslintIgnore: true
    global:
      globalNodePath: "/Users/calvin/n/bin/node"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
